{% extends "base_address.html" %}

{% block content %}
<h1>{{ object.name }}</h1>
<p>phone Number: {{ object.phone }}</p>
<li>Address: {{ object.address }}</li>
    <li>Email: {{ object.email }}</li>
{% endblock content %}