{% extends "base_address.html" %}

{% block content %}
    <h2>Address List</h2>
    <ul>
        {% for address in object_list %}
            <li><a href="{% url 'address:address_detail' address.id %}">{{ address.name }}</a> </li>
        {% endfor %}
    </ul>
{% endblock %}
