{% extends "base_address.html" %}

{% block content %}
    <h2>Address Management System</h2>
    <ul>
        {% for modelname in object_list %}
{% with "address:"|add:modelname|lower|add:"_list" as urlvar %}
        <li><a href="{% url urlvar %}">{{ modelname }}</a></li>
{% endwith %}
        {% endfor %}
    </ul>

{% endblock %}