<!DOCTYPE html>
<html lang="en">
<head>
  <title>ToDoList</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "admin/css/base.css" %}" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>ToDoList</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>할 일</B></td>
            <td><B>detail</B></td>
            <td><B>시작 날짜</B></td>
            <td><B>종료 날짜</B></td>
        </tr>
        </thead>
        <tbody>
        {% for todo in toDoList %}
        <tr>
            <td> {{ todo.todo }} </td>
            <td> {{ todo.introduction }} </td>
            <td> {{ todo.startDate }} </td>
            <td> {{ todo.endDate }} </td>
        </tr>
        {% endfor %}
        <!-- 여기까지 -->
        <tbody>
    </table>
</div>

<div class="container">
<h1>Today List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>할 일</B></td>
            <td><B>detail</B></td>
            <td><B>시작 날짜</B></td>
            <td><B>종료 날짜</B></td>
        </tr>
        </thead>
        <tbody>
        {% for todo in toDoList %}
            {% if todo.startDate|timesince >= "1 min" and todo.endDate|timesince <= "1 min" %}
                <tr>
                    <td> {{ todo.todo }} </td>
                    <td> {{ todo.introduction }} </td>
                    <td> {{ todo.startDate }} </td>
                    <td> {{ todo.endDate }} </td>
                </tr>
            {% endif %}
        {% endfor %}
        <!-- 여기까지 -->
        <tbody>
    </table>
</div>
</body>