{% extends "polls/base_polls.html" %}

{% block content %}

<h2>Hello</h2>

<form action="/polls/contact" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "submit" value="ok"/>
</form>

{% endblock content %}
