{% extends "base.html" %}

<title>{% block title %} Address List {% endblock %}</title>

{% block sidebar %}
{{ block.super }}
<ul>
    <li><a href="/address/address">address Home</a></li>
</ul>
{% endblock %}