
{% extends "base.html" %}

{% block content %}
    <h2>Jo Django Application</h2>
    <ul>
        {% for appname in object_list %}
{% with appname|add:":"|add:"index" as urlvar %}
            <li><a href="{% url urlvar %}">{{ appname }}</a></li>
{% endwith %}
        {% endfor %}
    </ul>
{% endblock content %}